In [2]:
import Prepro_data
import numpy as np
import pandas as pd

In [3]:
origin_DATA = Prepro_data.DataLoad()
origin_DATA.features.head()

,User-ID,Location,ISBN,Title,Author,Year,Publisher,Blurb
0,2918,"[1242, 7251, 5372]",32719,"[18416, 3305, 2794, 2794, 2794, 2794, 2794, 27...",13704,63,2346,"[16743, 70936, 91023, 94647, 30725, 94201, 110..."
1,2918,"[1242, 7251, 5372]",23709,"[5042, 20096, 12301, 3565, 6702, 20408, 4956, ...",6881,71,2064,"[26888, 9440, 6976, 72713, 117446, 20931, 2329..."
2,24974,"[4759, 1444, 5372]",23709,"[5042, 20096, 12301, 3565, 6702, 20408, 4956, ...",6881,71,2064,"[26888, 9440, 6976, 72713, 117446, 20931, 2329..."
3,18233,"[7245, 30, 1600]",23709,"[5042, 20096, 12301, 3565, 6702, 20408, 4956, ...",6881,71,2064,"[26888, 9440, 6976, 72713, 117446, 20931, 2329..."
4,240,"[4723, 6498, 1600]",23709,"[5042, 20096, 12301, 3565, 6702, 20408, 4956, ...",6881,71,2064,"[26888, 9440, 6976, 72713, 117446, 20931, 2329..."

In [4]:
origin_DATA.blurb2vect

0         [Here, first, time, paperback, outstanding, mi...
1         [The, fascinating, true, story, world, deadlie...
2         [The, fascinating, true, story, world, deadlie...
3         [The, fascinating, true, story, world, deadlie...
4         [The, fascinating, true, story, world, deadlie...
                                ...
172097    [Tory, Bauer, quintessential, diner, waitress,...
172098    [Faberville, bookstore, owner, Claire, Malloy,...
172099    [Eric, Jerome, Dickey, back, sexy, fast, paced...
172100    [Lieutenant, Horatio, Caine, leads, crack, tea...
172101    [C, est, au, travers, de, leur, correspondance...
Name: Blurb, Length: 172102, dtype: object

In [5]:
# user-id的字典,总共有28836个用户
all_user = len(set(origin_DATA.features['User-ID']))
new_user_id = {val: i for i, val in enumerate(set(origin_DATA.features['User-ID']))}
print('all user id = ', all_user)
# location的数量=7573(从0开始的)
all_location = max([j for i in origin_DATA.features.Location for j in i]) +1 
print('all location = ', all_location)

all user id =  28836
all location =  7574

In [6]:
# ISBN总数
all_isbn = len(set(origin_DATA.features['ISBN']))
print('all isbn = ', all_isbn)
# author总数
all_author = len(set(origin_DATA.features['Author']))
print('all author = ', all_author)
# year总数
all_year = len(set(origin_DATA.features['Year']))
print('all year = ', all_year)
# publish总数
all_publisher = len(set(origin_DATA.features['Publisher']))
print('all publisher = ', all_publisher)
# title中所有单词总数
all_title_words = max([j for i in origin_DATA.features.Title for j in i]) +1 
print('all title words = ', all_title_words)
# blurb中所有单词总数
all_blurb_words = max([j for i in origin_DATA.features.Blurb for j in i]) +1 
print('all blurb words = ', all_blurb_words)

all isbn =  38036
all author =  15196
all year =  81
all publisher =  2909
all title words =  23731
all blurb words =  127035

In [8]:
length  = [len(i) for i in origin_DATA.features['Blurb']]
np.mean(np.array(length))

200.0